<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.bootcdn.net/ajax/libs/minireset.css/0.0.2/minireset.min.css" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/element-ui/2.13.2/theme-chalk/index.css" rel="stylesheet">
    <title>开始</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.9/vue.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/element-ui/2.13.2/index.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.20.0/axios.min.js"></script>
</head>

<body>
    <div id="app">
        <el-container>
            <el-header>
                <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal">
                    <el-menu-item index="1">开始</el-menu-item>
                    <el-menu-item index="2"><a class="a-noline" href="#api">文档</a></el-menu-item>
                    <el-menu-item index="2"><a class="a-noline" href="https://account.api.mcloc.cn/admin">后台</a>
                    </el-menu-item>
                    <el-menu-item index="3" disabled>其他API</el-menu-item>
                    <el-menu-item index="4"><a class="a-noline" href="https://blog.mcloc.cn" target="_blank">小马奔腾的博客</a>
                    </el-menu-item>
                </el-menu>
            </el-header>
            <el-main>
                <el-row>
                    <el-col :span="20" :offset="2">
                        <h1>登录注册接口，后端为 Node.js 和 Mysql</h1>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="20" :offset="2">
                        <el-alert :title="alertTitle" type="success" :closable="false">
                        </el-alert>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="20" :offset="2">
                        <h2>服务监控</h2>
                    </el-col>
                </el-row>
                <el-row type="flex" justify="space-around">
                    <el-col :span="12">
                        <el-row>
                            <el-col :span="16" :offset="4">
                                <el-card>
                                    <h3>服务器内存占用情况</h3>
                                    <el-table stripe :data="data.serviceMemory" style="width: 100%">
                                        <el-table-column prop="name" label="项目" width="180">
                                        </el-table-column>
                                        <el-table-column prop="data" label="状态">
                                        </el-table-column>
                                    </el-table>
                                </el-card>
                            </el-col>
                        </el-row>
                    </el-col>
                    <el-col :span="12">
                        <el-row>
                            <el-col :span="16" :offset="4">
                                <el-card>
                                    <h3>内存空闲率</h3>
                                    <el-row type="flex" justify="center">
                                        <el-progress type="circle" :stroke-width="10" :percentage="memory">
                                        </el-progress>
                                    </el-row>
                                </el-card>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col class="serverload" :span="16" :offset="4">
                                <el-card>
                                    <h3>平均负载 (1 / 5 / 15 分钟)</h3>
                                    <el-progress :text-inside="true" :stroke-width="20" :percentage="serverLoad.a"
                                        :color="customColors"></el-progress>
                                    <br>
                                    <el-progress :text-inside="true" :stroke-width="20" :percentage="serverLoad.b"
                                        :color="customColors"></el-progress>
                                    <br>
                                    <el-progress :text-inside="true" :stroke-width="20" :percentage="serverLoad.c"
                                        :color="customColors"></el-progress>
                                </el-card>
                            </el-col>
                        </el-row>
                    </el-col>
                </el-row>
                <el-divider></el-divider>
                <el-row>
                    <el-col :span="20" :offset="2">
                        <h2 id="api">API文档</h2>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="20" :offset="2">
                        <el-collapse v-model="activeNames">
                            <el-collapse-item title="上传头像 /uploadavatar" name="1">
                                <div class="wrap">
                                    <p class="title1">API基本信息</p>
                                    <div>
                                        <el-tag type="info">接口地址:</el-tag>
                                        <el-tag>https://account.api.mcloc.cn/uploadavatar</el-tag>
                                    </div>
                                    <p class="tag">
                                        <el-tag type="success">POST</el-tag>
                                        <el-tag type="warning">需要鉴权</el-tag>
                                    </p>
                                    <p class="title1">需传入的参数及其格式</p>
                                    <el-table :data="tableData1" border style="width: 100%">
                                        <el-table-column prop="key" label="参数(key)" width="180">
                                        </el-table-column>
                                        <el-table-column prop="value" label="内容(value)" width="180">
                                        </el-table-column>
                                        <el-table-column prop="type" label="传入方式" width="380">
                                        </el-table-column>
                                        <el-table-column prop="other" label="备注">
                                        </el-table-column>
                                    </el-table>
                                    <p class="title1">其他</p>
                                    <p class="text">
                                        uuid 和 token 用于鉴权（ uuid 和 token 需在请求头中设置，key分别为 uuid 和 token ）。<br>
                                        注意：仅此接口的 uuid 通过请求头传输，在以下接口中， uuid 均通过请求体传输。<br>
                                        （但所有 token 均通过请求体传输）
                                    </p>
                                </div>
                            </el-collapse-item>
                            <el-collapse-item title="检查用户名是否重复 /checkusername" name="2">
                                <div class="wrap">
                                    <p class="title1">API基本信息</p>
                                    <div>
                                        <el-tag type="info">接口地址:</el-tag>
                                        <el-tag>https://account.api.mcloc.cn/checkusername</el-tag>
                                    </div>
                                    <p class="tag">
                                        <el-tag type="success">POST</el-tag>
                                    </p>
                                    <p class="title1">需传入的参数及其格式</p>
                                    <el-table :data="tableData2" border style="width: 100%">
                                        <el-table-column prop="key" label="参数(key)" width="180">
                                        </el-table-column>
                                        <el-table-column prop="value" label="内容(value)" width="180">
                                        </el-table-column>
                                        <el-table-column prop="type" label="传入方式" width="380">
                                        </el-table-column>
                                        <el-table-column prop="other" label="备注">
                                        </el-table-column>
                                    </el-table>
                                    <p class="title1">其他</p>
                                    <p class="text">
                                        用于检查用户名是否重复。
                                    </p>
                                </div>
                            </el-collapse-item>
                            <el-collapse-item title="注册 /register" name="3">
                                <div class="wrap">
                                    <p class="title1">API基本信息</p>
                                    <div>
                                        <el-tag type="info">接口地址:</el-tag>
                                        <el-tag>https://account.api.mcloc.cn/register</el-tag>
                                    </div>
                                    <p class="tag">
                                        <el-tag type="success">POST</el-tag>
                                    </p>
                                    <p class="title1">需传入的参数及其格式</p>
                                    <el-table :data="tableData3" border style="width: 100%">
                                        <el-table-column prop="key" label="参数(key)" width="180">
                                        </el-table-column>
                                        <el-table-column prop="value" label="内容(value)" width="180">
                                        </el-table-column>
                                        <el-table-column prop="type" label="传入方式" width="380">
                                        </el-table-column>
                                        <el-table-column prop="other" label="备注">
                                        </el-table-column>
                                    </el-table>
                                    <p class="title1">其他</p>
                                    <p class="text">
                                        注册成功后会返回用户名和通用唯一标识码 uuid 。
                                    </p>
                                </div>
                            </el-collapse-item>
                            <el-collapse-item title="登录 /login" name="4">
                                <div class="wrap">
                                    <p class="title1">API基本信息</p>
                                    <div>
                                        <el-tag type="info">接口地址:</el-tag>
                                        <el-tag>https://account.api.mcloc.cn/login</el-tag>
                                    </div>
                                    <p class="tag">
                                        <el-tag type="success">POST</el-tag>
                                    </p>
                                    <p class="title1">需传入的参数及其格式</p>
                                    <el-table :data="tableData4" border style="width: 100%">
                                        <el-table-column prop="key" label="参数(key)" width="180">
                                        </el-table-column>
                                        <el-table-column prop="value" label="内容(value)" width="180">
                                        </el-table-column>
                                        <el-table-column prop="type" label="传入方式" width="380">
                                        </el-table-column>
                                        <el-table-column prop="other" label="备注">
                                        </el-table-column>
                                    </el-table>
                                    <p class="title1">其他</p>
                                    <p class="text">
                                        登录成功后会返回 uuid 和 token 。
                                    </p>
                                </div>
                            </el-collapse-item>
                            <el-collapse-item title="获取用户信息 /getuser" name="5">
                                <div class="wrap">
                                    <p class="title1">API基本信息</p>
                                    <div>
                                        <el-tag type="info">接口地址:</el-tag>
                                        <el-tag>https://account.api.mcloc.cn/getuser</el-tag>
                                    </div>
                                    <p class="tag">
                                        <el-tag type="success">POST</el-tag>
                                        <el-tag type="warning">需要鉴权</el-tag>
                                    </p>
                                    <p class="title1">需传入的参数及其格式</p>
                                    <el-table :data="tableData5" border style="width: 100%">
                                        <el-table-column prop="key" label="参数(key)" width="180">
                                        </el-table-column>
                                        <el-table-column prop="value" label="内容(value)" width="180">
                                        </el-table-column>
                                        <el-table-column prop="type" label="传入方式" width="380">
                                        </el-table-column>
                                        <el-table-column prop="other" label="备注">
                                        </el-table-column>
                                    </el-table>
                                    <p class="title1">其他</p>
                                    <p class="text">
                                        uuid 和 token 用于鉴权。<br>
                                        可获取的参数有：username、password、avatarurl、description、other、registertime（注册时间）、updatatime（最后更新时间）
                                    </p>
                                </div>
                            </el-collapse-item>
                            <el-collapse-item title="修改用户信息 /updateuser" name="6">
                                <div class="wrap">
                                    <p class="title1">API基本信息</p>
                                    <div>
                                        <el-tag type="info">接口地址:</el-tag>
                                        <el-tag>https://account.api.mcloc.cn/updateuser</el-tag>
                                    </div>
                                    <p class="tag">
                                        <el-tag type="success">POST</el-tag>
                                        <el-tag type="warning">需要鉴权</el-tag>
                                    </p>
                                    <p class="title1">需传入的参数及其格式</p>
                                    <el-table :data="tableData6" border style="width: 100%">
                                        <el-table-column prop="key" label="参数(key)" width="180">
                                        </el-table-column>
                                        <el-table-column prop="value" label="内容(value)" width="180">
                                        </el-table-column>
                                        <el-table-column prop="type" label="传入方式" width="380">
                                        </el-table-column>
                                        <el-table-column prop="other" label="备注">
                                        </el-table-column>
                                    </el-table>
                                    <p class="title1">其他</p>
                                    <p class="text">
                                        uuid 和 token 用于鉴权。<br>
                                        可修改的参数有：username、password、avatarurl、description、other<br>
                                        这些参数为系统生成，不可修改：registertime（注册时间）、updatatime（最后更新时间）
                                    </p>
                                </div>
                            </el-collapse-item>
                            <el-collapse-item title="注销（永久删除） /cancelaccount" name="7">
                                <div class="wrap">
                                    <p class="title1">API基本信息</p>
                                    <div>
                                        <el-tag type="info">接口地址:</el-tag>
                                        <el-tag>https://account.api.mcloc.cn/cancelaccount</el-tag>
                                    </div>
                                    <p class="tag">
                                        <el-tag type="success">POST</el-tag>
                                        <el-tag type="warning">需要鉴权</el-tag>
                                        <el-tag type="danger" effect="dark">谨慎使用</el-tag>
                                    </p>
                                    <p class="title1">需传入的参数及其格式</p>
                                    <el-table :data="tableData7" border style="width: 100%">
                                        <el-table-column prop="key" label="参数(key)" width="180">
                                        </el-table-column>
                                        <el-table-column prop="value" label="内容(value)" width="180">
                                        </el-table-column>
                                        <el-table-column prop="type" label="传入方式" width="380">
                                        </el-table-column>
                                        <el-table-column prop="other" label="备注">
                                        </el-table-column>
                                    </el-table>
                                    <p class="title1">其他</p>
                                    <p class="text">
                                        用于删除账户，账户删除后不可恢复，请谨慎使用。
                                    </p>
                                </div>
                            </el-collapse-item>
                        </el-collapse>
                    </el-col>
                </el-row>
            </el-main>
            <el-footer id="footer">
            </el-footer>
        </el-container>
    </div>
</body>

<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                alertTitle: "",
                data: {},
                memory: 0,
                serverLoad: {
                    a: 0,
                    b: 0,
                    c: 0
                },
                activeIndex: '1',
                activeNames: ['1'],
                customColors: [{
                        color: '#1989fa',
                        percentage: 20
                    },
                    {
                        color: '#5cb87a',
                        percentage: 60
                    },
                    {
                        color: '#e6a23c',
                        percentage: 80
                    },
                    {
                        color: '#f56c6c',
                        percentage: 100
                    }
                ],
                tableData1: [{
                    key: 'uuid',
                    value: 'String',
                    type: 'uuid需在请求头中设置，key为uuid',
                    other: '通用唯一标识符'
                }, {
                    key: 'token',
                    value: 'String',
                    type: 'token需在请求头中设置，key为token',
                    other: '有效期24小时，过期需重新登录'
                }, {
                    key: 'avatar',
                    value: '图片文件',
                    type: 'form-data',
                    other: '仅可上传jpg、png格式的图片'
                }],
                tableData2: [{
                    key: 'username',
                    value: 'String',
                    type: '请求体(x-www-form-urlencoded)',
                    other: '用于检查用户名是否重复'
                }],
                tableData3: [{
                    key: 'username',
                    value: 'String',
                    type: '请求体(x-www-form-urlencoded)',
                    other: '字符长度最大为255，暂时不限制字符类型。'
                }, {
                    key: 'password',
                    value: 'String',
                    type: '请求体(x-www-form-urlencoded)',
                    other: '字符长度最大为255，暂时不限制字符类型。'
                }],
                tableData4: [{
                    key: 'username',
                    value: 'String',
                    type: '请求体(x-www-form-urlencoded)',
                    other: ''
                }, {
                    key: 'password',
                    value: 'String',
                    type: '请求体(x-www-form-urlencoded)',
                    other: ''
                }],
                tableData5: [{
                    key: 'uuid',
                    value: 'String',
                    type: '请求体(x-www-form-urlencoded)',
                    other: ''
                }, {
                    key: 'token',
                    value: 'String',
                    type: 'token需在请求头中设置，key为token',
                    other: ''
                }],
                tableData6: [{
                    key: 'uuid',
                    value: 'String',
                    type: '请求体(x-www-form-urlencoded)',
                    other: '仅用作鉴权，不可修改'
                }, {
                    key: 'token',
                    value: 'String',
                    type: 'token需在请求头中设置，key为token',
                    other: '仅用作鉴权，不可修改'
                }, {
                    key: 'username',
                    value: 'String',
                    type: '请求体(x-www-form-urlencoded)',
                    other: ''
                }, {
                    key: 'password',
                    value: 'String',
                    type: '请求体(x-www-form-urlencoded)',
                    other: ''
                }, {
                    key: 'avatarurl',
                    value: 'String',
                    type: '请求体(x-www-form-urlencoded)',
                    other: ''
                }, {
                    key: 'description',
                    value: 'String',
                    type: '请求体(x-www-form-urlencoded)',
                    other: ''
                }, {
                    key: 'other',
                    value: 'String',
                    type: '请求体(x-www-form-urlencoded)',
                    other: ''
                }],
                tableData7: [{
                    key: 'uuid',
                    value: 'String',
                    type: '请求体(x-www-form-urlencoded)',
                    other: '用于鉴权'
                }, {
                    key: 'token',
                    value: 'String',
                    type: 'token需在请求头中设置，key为token',
                    other: '用于鉴权'
                }, {
                    key: 'username',
                    value: 'String',
                    type: '请求体(x-www-form-urlencoded)',
                    other: '用于鉴权'
                }, {
                    key: 'password',
                    value: 'String',
                    type: '请求体(x-www-form-urlencoded)',
                    other: '用于鉴权'
                }],
            }
        },
        // 方法集合
        methods: {
            getData() {
                axios({
                    method: 'get',
                    url: '/servicestatus',
                    baseURL: 'https://account.api.mcloc.cn',
                }).then((res) => {
                    if (res.data.code === 20000) {
                        this.data = res.data.data;
                        this.memory = (this.data.serverMemory.serverFreeMemory / this.data.serverMemory
                            .serverTotalMemory * 100).toFixed(2);
                        this.alertTitle = "平台已正常运行 " + Math.floor(this.data.serviceTime / 60 / 60 /
                                24) + " 天 " + Math.floor((this.data.serviceTime / 60 / 60) % 24) +
                            " 小时 " + Math.floor((this.data.serviceTime / 60) % 60) + " 分钟 " + Math
                            .floor(this.data.serviceTime % 60) + " 秒" + " 接口共被调用 " + this.data.count +
                            " 次";
                        this.serverLoad.a = (this.data.serverLoad[0] * 100).toFixed(2);
                        this.serverLoad.b = (this.data.serverLoad[1] * 100).toFixed(2);
                        this.serverLoad.c = (this.data.serverLoad[2] * 100).toFixed(2);
                    }
                });
            },
        },
        // 生命周期 - 创建完成（可以访问当前this实例）
        created() {
            this.getData()
        },
        // 生命周期 - 挂载完成（可以访问DOM元素）
        mounted() {
            this.$nextTick(() => {
                setInterval(this.getData, 1000);
            })
        },
    })
</script>

<style>
    h1 {
        font-size: 30px;
        font-weight: 600;
        color: #333333;
        padding: 20px 0 30px;
    }

    h2 {
        font-size: 20px;
        font-weight: 600;
        margin: 20px 0 20px;
    }

    h3 {
        font-size: 16px;
        font-weight: 600;
        margin: 0 0 20px;
    }

    .a-noline {
        text-decoration: none;
    }

    .serverload {
        margin-top: 20px;
    }

    .tag {
        line-height: 58px;
    }

    .text {
        color: #666666;
        padding-bottom: 50px;
    }

    .wrap {
        padding: 0 50px;
    }

    .title1 {
        padding: 30px 0 10px;
        font-size: 15px;
        font-weight: 600;
        color: #666666;
    }
</style>

</html>